<div class="options-container">
  <div class="category">
    <h4>Front salto's:</h4>
    @for(option of store.frontSaltoOptions(); track option; let index = $index) {
      <button
        (click)="store.onOptionSelected(option)"
        [class.selected]="store.selectedOption() === option"
        >
        {{ option }}
      </button>
    }
  </div>
  <div class="category">
    <h4>Back salto's:</h4>
    @for(option of store.backSaltoOptions(); track option) {
      <button
        (click)="store.onOptionSelected(option)"
        [class.selected]="store.selectedOption() === option"
       >
        {{ option }}
      </button>
    }
  </div>
  <div class="category">
    <h4>Other:</h4>
    @for(option of store.otherOptions(); track option) {
      <button
        (click)="store.onOptionSelected(option)"
        [class.selected]="store.selectedOption() === option"
       >
        {{ option }}
      </button>
    }
  </div>
</div>

