<div class="options-container">
  <div class="category">
    <h4>Front salto's:</h4>
    @for(option of stateService.frontSaltoOptions(); track option) {
      <button
        (click)="stateService.onOptionSelected(option)"
        [class.selected]="stateService.selectedOption()?.selectedOption === option"
        >
        {{ option }}
      </button>
    }
  </div>
  <div class="category">
    <h4>Back salto's:</h4>
    @for(option of stateService.backSaltoOptions(); track option) {
      <button
        (click)="stateService.onOptionSelected(option)"
        [class.selected]="stateService.selectedOption()?.selectedOption === option">
        {{ option }}
      </button>
    }
  </div>
  <div class="category">
    <h4>Other:</h4>
    @for(option of stateService.otherOptions(); track option) {
      <button
        (click)="stateService.onOptionSelected(option)"
        [class.selected]="stateService.selectedOption()?.selectedOption === option">
        {{ option }}
      </button>
    }
  </div>
</div>
