<div class="options-container">
  <div class="category">
    <h4>Front salto's:</h4>
    <button
      *ngFor="let option of frontSaltoOptions"
      [class.selected]="option === selectedOption"
      (click)="selectOption(option)">
      {{ option }}
    </button>
  </div>
  <div class="category">
    <h4>Back salto's:</h4>
    <button
      *ngFor="let option of backSaltoOptions"
      (click)="selectOption(option)"
      [class.selected]="option === selectedOption">
      {{ option }}
    </button>
  </div>
  <div class="category">
    <h4>Other:</h4>
    <button
      *ngFor="let option of otherOptions"
      (click)="selectOption(option)"
      [class.selected]="option === selectedOption">
      {{ option }}
    </button>
  </div>
</div>
