.container-fluid {
  width: 100%;
  height: 100vh;
  background:  #faf2ff;
  overflow: auto;
  margin: 0;
  padding: 0;
  top: 0;
}
.container {
  padding: 70px;
  background: #220335;
  @media (max-width: 768px) {
    padding: 70px 16px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom:  #d6d6d6;
}
.header .logo {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
}
.boxes {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
}
.page-title {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  width: 50%;
  @media  (max-width: 768px) {
    width: 100%;
  }
}
.page-subtitle {
  margin-bottom: 30px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  width: 50%;
  margin-top: 1.25rem;
  @media  (max-width: 768px) {
    width: 100%;
  }
}
.description p {
  margin-bottom: 30px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  width: 80%;
  @media  (max-width: 768px) {
    width: 100%;
  }
}

.button-section {
  margin: auto;
  text-align: center;
  button {
    text-align: center;
    border-radius: 10px;
    background-color:  #34044f;;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
  }
  button:hover {
    background-color: #fff;
    color: #220335;
  }
}



