<div class="container-fluid">
  <header class="header">
    <div class="logo">
      Acro Companion
    </div>
    <div class="header-links">
      @if(stateService.selectedBox()) {
          <div class="total">
            Total value: {{ stateService.totalValue() }}
          </div>
      }
    </div>
  </header>
  <section class="container">
    <h1 class="page-title">Interactive Box Selection 📦</h1>
    <p class="page-subtitle">
      10 interactive behavioral module boxes with option selectors.
    </p>
    <app-box></app-box>
  </section>
  <section>
    <app-option-selector
      *ngIf="stateService.selectedBox()">
    </app-option-selector>
    <div class="button-section">
      @if(stateService.selectedBox()) {
      <button
        class=""
        (click)="stateService.clearSelections()">
        Clear All
      </button>
      }
    </div>
  </section>
</div>
